@charset "utf-8";
@use "sass:string";
@use "sass:color";
@import "abstracts/mixins";

//font load
//개발에 넘길 때, 웹폰트 @import 하고 src 부분 주석처리
$font-name: SUIT;
$weights: (Regular: 400, Medium: 500, Bold: 700);
//@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");
@each $name, $number in $weights {
    @font-face {
        font-family: $font-name;
        font-style: normal;
        font-weight: $number;
        src: url("../font/SUIT-#{$name}.woff2");
    }
}

html {
    font-family: $font-name, sans-serif;
    font-size: 62.5%; //font-size 10px로 지정(rem 단위 사용을 위한 세팅)
    line-height: 1.5;
    box-sizing: border-box;
    letter-spacing: -0.04em;
    word-break: break-all;
    color: $dark;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%; //-webkit-text-size-adjust 디바이스 폰트 사이즈 설정에 영향받지 않도록 함
    background-repeat: no-repeat;
}
@media (max-width: 320px) {
    html {
        font-size: 56.25%; //font-size 9px로 지정(아이폰 5 대응)
    }
}
/*@media (min-width: 376px) and (max-width: 768px) {
    html {
        font-size: 68.75%; //font-size 11px로 지정(아이폰 x 대응)
    }
}*/
body {
    font-size: 15*$unit;
    font-weight: $medium;
}
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    box-sizing: inherit;
    letter-spacing: inherit;
    word-break: inherit;
    color: inherit;
    background-repeat: inherit;
}
button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    //outline: none;
    cursor: pointer;
    background-color: transparent;
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:active {
        //outline: none;
    }
}
dl, ul, ol, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}
:placeholder-shown {
    text-overflow: ellipsis;
}
*[role=button] {
    cursor: pointer;
}
input, textarea, select, *[role=button] {
    width: 100%;
    //outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    &:disabled {
        opacity: 1; //사파리에서 초기화 필요
    }
}
label, textarea {
    display: block;
}
input {
    &[type="checkbox"], &[type="radio"] {
        @include position(absolute);
        display: inline-block;
        border: 0;
        cursor: pointer;
    }
    @at-root .checkbox, .radio {
        label {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
    }
    &[type="search"] {
        &::-webkit-search-cancel-button {
            display: none;
        }
    }
    &[type="number"] {
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    &::-ms-clear {
        display: none;
    }
}
textarea {
    resize: none;
}
fieldset {
    border: 0;
}
::selection {
    background-color: $color-primary;
    color: white;
}