@import "style";

.header {
  z-index: 10;
  @include position(sticky, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 240px;
  height: 60*$unit;
  padding: 0 30*$unit;
  background-color: white;
  border-bottom: 1px solid $dark-18;

  &__menu {
    display: flex;
    align-items: center;

    button {
      margin-left: 8*$unit;
      padding: 8*$unit;
      padding-right: 0;
      width: auto;
      color: $dark-60;
      
      &:hover {
        color: $color-primary;
        font-weight: $bold;
      }
    }
  }

  .logo {
    width: 72*$unit;
  }
}

.nav {
  @include position(fixed, 60*$unit, 0, unset, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20*$unit 0;
  width: 174*$unit;
  background: $dark;
  overflow: auto;

  button {
    padding: 12*$unit 0 12*$unit 26*$unit;
    border-left: 4*$unit solid transparent;
    color: $light-60;
    font-size: 17*$unit;
    text-align: left;

    &.on {
      border-color: $color-primary;
      color: white;
      background: $light-16;
    }

    &:hover {
      color: white;
    }
  }
}

.footer {
  padding: 20*$unit;
  padding-bottom: 0;
  font-size: 12*$unit;
  color: $light-60;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20*$unit;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dt {
    padding-right: 0.5em;
    color: $light-30;
  }
}

.main {
  min-width: 240px;

  h2 {}
  
  &__top {
    background: $dark-05;
  }

  &__btm {
  }
}

