@charset "UTF-8";
.clip_box .keyword, .clip_box .tag, .clip_box__con button, .bank_info dl dt, .bank_info dl small, .sum_info dt, .sum_info dd em, .main h2 small, .main__tab .radio, .footer, .table em, .table .small, .table th, .usertype_guide__con small, .usertype, .valid, .hint, .smaller.btn, .text_btn {
  font-size: 1.2rem;
  font-weight: 500;
}

.revise_mode .accordion_btn button:first-child::before, .usertype_guide, .checkbox, .radio, .btn, body {
  font-size: 1.5rem;
  font-weight: 500;
}

.tutor_info__ttl, .nav button {
  font-size: 1.7rem;
  font-weight: 500;
}

.demo_intro, .modal__head b, .form_wrap h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

.accordion__class b {
  font-size: 2.4rem;
  font-weight: 700;
}

@font-face {
  font-family: SUIT;
  font-style: normal;
  font-weight: 400;
  src: url("../font/SUIT-Regular.woff2");
}
@font-face {
  font-family: SUIT;
  font-style: normal;
  font-weight: 500;
  src: url("../font/SUIT-Medium.woff2");
}
@font-face {
  font-family: SUIT;
  font-style: normal;
  font-weight: 700;
  src: url("../font/SUIT-Bold.woff2");
}
html {
  font-family: SUIT, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: -0.04em;
  word-break: break-all;
  color: #212121;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 320px) {
  html {
    font-size: 56.25%;
  }
}
/*@media (min-width: 376px) and (max-width: 768px) {
    html {
        font-size: 68.75%; //font-size 11px로 지정(아이폰 x 대응)
    }
}*/
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  letter-spacing: inherit;
  word-break: inherit;
  color: inherit;
  background-repeat: inherit;
}

button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
dl, ul, ol, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

:placeholder-shown {
  text-overflow: ellipsis;
}

*[role=button] {
  cursor: pointer;
}

input, textarea, select, *[role=button] {
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input:disabled, textarea:disabled, select:disabled, *[role=button]:disabled {
  opacity: 1;
}

label, textarea {
  display: block;
}

input[type=checkbox], input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.checkbox label, .radio label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::-ms-clear {
  display: none;
}

textarea {
  resize: none;
}

fieldset {
  border: 0;
}

::selection {
  background-color: #0164FF;
  color: white;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.pc_only {
  display: block;
}
@media (max-width: 767px) {
  .pc_only {
    display: none;
  }
}

.mo_only {
  display: none;
}
@media (max-width: 767px) {
  .mo_only {
    display: block;
  }
}

.scroll-prevent {
  overflow: hidden;
  height: 100vh;
}

i {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

button i {
  margin-left: 0.666666em;
  width: 1.066666em;
  height: 1.066666em;
  vertical-align: middle;
}

.btn.login {
  margin-top: 0.8rem;
  height: 5.4rem;
}

.text_btn {
  padding: 0.8rem;
  width: auto;
  color: #0164FF;
}
.text_btn:hover {
  background-color: #fafafa;
}
.text_btn:active {
  background-color: #f2f2f2;
}

.btn {
  display: block;
  padding: 0 1.2rem;
  height: 4rem;
  border: 1px solid transparent;
  border-radius: 10rem;
  background-color: #0164FF;
  color: #fff;
  word-break: keep-all;
  line-height: 1.2;
}
.btn:hover {
  background-color: #0060f6;
}
.btn:active {
  background-color: #005ae7;
}
.btn:disabled {
  border-color: rgba(33, 33, 33, 0.3);
  background-color: rgba(33, 33, 33, 0.3);
  color: #fff;
  cursor: default;
}
.bo.btn {
  border-color: #0164FF;
  background-color: #fff;
  color: #0164FF;
}
.bo.btn:hover {
  background-color: #fafafa;
}
.bo.btn:active {
  background-color: #f2f2f2;
}
.bo.btn:disabled {
  border-color: rgba(33, 33, 33, 0.3);
  background-color: rgba(33, 33, 33, 0.18);
  color: rgba(33, 33, 33, 0.3);
}
.bo.grey.btn {
  border-color: rgba(33, 33, 33, 0.3);
  color: rgba(33, 33, 33, 0.6);
}
.smaller.btn {
  padding: 0 0.8rem;
  height: 2.6rem;
}

.logo {
  position: relative;
  background-image: url("../img/logo_header.svg");
  background-size: 100% auto;
}
.logo > * {
  display: block;
  padding-top: 28%;
}

.form_wrap {
  margin: 2rem auto;
  padding: 2rem;
  width: 28rem;
  max-width: 100%;
}
.form_wrap h2 {
  margin: 5.4rem 0 4rem;
  text-align: center;
}
.form_li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
}
.form_li > * {
  flex: 0 0 auto;
}
.form_li .form_in {
  flex: 1 1 auto;
}
.form_li:last-child {
  margin-bottom: 0;
}
.form_li input {
  height: 4rem;
}
@media (max-width: 767px) {
  .form_li input {
    height: 4rem;
  }
}
.form_ttl {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  width: 100%;
  color: rgba(33, 33, 33, 0.6);
}
.form_in {
  width: 100%;
  min-height: 4rem;
}
.form_in > * {
  margin-top: 0.4rem;
}
.form_in > *:first-child {
  margin-top: 0;
}
@media (max-width: 767px) {
  .form_in {
    min-height: 4rem;
  }
}
.form .btn {
  height: 4rem;
}
@media (max-width: 767px) {
  .form .btn {
    height: 4rem;
  }
}

/*바인딩*/
.bind {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  min-height: 4rem;
  font-weight: 700;
}

.hint {
  padding: 0.8em 0;
  color: rgba(33, 33, 33, 0.3);
  word-break: keep-all;
}

/*유효성문구*/
.valid {
  display: none;
  color: #F02E19;
}
.valid.on {
  display: flex;
  margin-top: 0.4rem;
}
.valid i {
  flex: 0 0 auto;
  margin: 0.083333em 0.4rem 0.083333em 0;
  width: 1.333333em;
  height: 1.333333em;
  vertical-align: text-top;
}

textarea, input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  border: 1px solid rgba(33, 33, 33, 0.18);
  background-color: white;
}
textarea::placeholder, input::placeholder {
  font-weight: 400;
  color: rgba(33, 33, 33, 0.3);
}

input {
  padding: 0 0.8em;
  min-height: 4rem;
}
@media (max-width: 767px) {
  input {
    padding: 0 0.4em;
  }
}

textarea {
  padding: 0.6em 0.8em;
  height: 24rem;
  white-space: pre-line;
  overflow: initial;
}
textarea::placeholder {
  line-height: 1.5;
}

.checkbox input, .radio input {
  padding: 0;
  width: 1.333333em;
  height: 1.33333em;
  min-height: unset;
  background: url("../img/i_ch.svg") no-repeat;
  background-size: contain;
}
.checkbox input:checked, .radio input:checked {
  border: 0;
  background-image: url("../img/i_ched.svg");
}
.checkbox label, .radio label {
  min-height: 1.333333em;
}
.checkbox label > span, .radio label > span {
  padding-left: 1.666666em;
}

.radio input {
  background-image: url("../img/i_rd.svg");
}
.radio input:checked {
  background-image: url("../img/i_rded.svg");
}
.radio__wrap {
  display: flex;
  gap: 0.8rem;
}

.select, .datepicker {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  padding: 0.8rem 4rem 0.8rem 1.2rem;
  height: 4rem;
  border: 1px solid rgba(33, 33, 33, 0.18);
  background: url("../img/i_select_c.svg") no-repeat center right 1.2rem;
  background-size: 1.6rem;
  text-align: left;
}
.select:hover, .datepicker:hover {
  background-color: #fafafa;
}
.select:active, .datepicker:active {
  background-color: #f2f2f2;
}
.select .i_live, .datepicker .i_live {
  margin: 0 0.666666em 0 0;
  width: 2.8rem;
  height: 1.6rem;
  background-image: url("../img/i_liveclass_d18.png");
}
@media (max-width: 767px) {
  .select, .datepicker {
    padding: 0.8rem 3.2rem 0.8rem 0.8rem;
    background-position: center right 0.8rem;
  }
}

.datepicker {
  background-image: url("../img/i_calendar_c.svg");
  color: rgba(33, 33, 33, 0.3);
}
.datepicker.on {
  background-image: url("../img/i_x_c.svg");
  color: #212121;
}

.usertype {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}
.usertype .tag {
  display: flex;
  align-items: center;
  padding: 0 0.666666em;
  height: 1.666666em;
  background: #0164FF;
  color: white;
}
.usertype i {
  margin-left: 0.333333em;
  width: 1.333333em;
  height: 1.333333em;
  background: url("../img/i_info.svg") no-repeat;
  background-size: contain;
  opacity: 0.18;
}
.usertype_guide {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 70%;
  display: none;
  width: 30rem;
  border: 1px solid #212121;
  background: white;
  color: #212121;
}
.usertype_guide.on {
  display: block;
}
.usertype_guide.left {
  left: unset;
  right: 0;
}
.usertype_guide__ttl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  border-bottom: 1px solid rgba(33, 33, 33, 0.18);
}
.usertype_guide__con {
  padding: 1.6rem 2rem;
  color: rgba(33, 33, 33, 0.6);
  text-align: left;
}
.usertype_guide__con ul {
  display: flex;
  gap: 2rem;
}
.usertype_guide__con ul > * {
  flex: 0 0 auto;
}
.usertype_guide__con b {
  display: inline-block;
  margin-bottom: 0.8rem;
  color: #212121;
}
.usertype_guide__con em {
  color: #0164FF;
}
.usertype_guide__con small {
  display: flex;
  margin-top: 1.6rem;
  color: rgba(33, 33, 33, 0.3);
  word-break: keep-all;
}
.usertype_guide__con small:before {
  content: "·";
}
@media (max-width: 767px) {
  .usertype_guide, .usertype_guide.left {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.table {
  width: 100%;
  min-width: 54rem;
  border: 1px solid rgba(33, 33, 33, 0.18);
}
.table__wrap {
  overflow: auto;
}
.table__ttl {
  position: sticky;
  top: unset;
  left: 0;
  margin-bottom: 1.6rem;
  color: rgba(33, 33, 33, 0.6);
}
.table__ttl b {
  margin-right: 0.4rem;
  color: #0164FF;
}
.table__pagination {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  color: rgba(33, 33, 33, 0.3);
}
.table__pagination button {
  flex: 0 0 auto;
  padding: 0 1.2rem;
  min-width: 3.2rem;
  width: auto;
  height: 3.2rem;
}
.table__pagination button:hover {
  background-color: #fafafa;
}
.table__pagination button:active {
  background-color: #f2f2f2;
}
.table__pagination button.on {
  color: #0164FF;
}
.table.live {
  margin-bottom: 1.2rem;
}
.table.live th {
  background: rgba(0, 214, 214, 0.04);
  color: #00B8B8;
}
.table th {
  padding: 1.2rem;
  background: #F8F8F8;
  color: rgba(33, 33, 33, 0.3);
}
.table td {
  padding: 1.2rem 0.4rem;
  text-align: center;
  color: rgba(33, 33, 33, 0.3);
}
.table tbody tr {
  border-bottom: 0.8px solid rgba(33, 33, 33, 0.18);
}
.table tbody tr:last-child {
  border-bottom: 0;
}
.table tbody tr .btn {
  margin: 0 auto;
  width: auto;
}
.table .ttl {
  display: flex;
  gap: 0.4rem;
  padding: 1.2rem;
  text-align: left;
  color: #212121;
}
.table .ttl b {
  flex: 0 0 auto;
  color: #0164FF;
}
.table .on {
  color: #212121;
}
.table .small {
  color: rgba(33, 33, 33, 0.6);
}
.table em {
  color: #0164FF;
}

.modal_wrap {
  transition-property: top;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  z-index: 40;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal_wrap::before {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0s;
  content: "";
  display: block;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6);
  opacity: 0;
}
.modal__inner {
  transition-property: top;
  transition-duration: 0.2s;
  transition-delay: 0s;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal_wrap.on {
  transition-property: top;
  transition-duration: 0.2s;
  transition-delay: 0s;
  top: 0;
}
.modal_wrap.on::before {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  opacity: 1;
}
.modal_wrap.on .modal__inner {
  transition-property: top;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  top: 0;
}
.modal {
  display: flex;
  flex-direction: column;
  margin: 0 12.5%;
  width: 100%;
  max-height: 90%;
  background-color: #fff;
  overflow: auto;
}
.modal > * {
  flex: 0 0 auto;
}
.modal__con {
  flex: 1 1 auto;
}
@media (max-width: 767px) {
  .modal {
    margin: 0;
    height: 100%;
    max-height: unset;
    border-radius: 0;
  }
}
.modal__head {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  min-height: 6rem;
  padding: 1rem 2rem;
  color: rgba(33, 33, 33, 0.3);
}
@media (max-width: 767px) {
  .modal__head {
    min-height: 4rem;
  }
}
.modal__head .ttl {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.modal__head b {
  color: #212121;
}
.modal__head em {
  margin: 0 0.8rem;
  color: rgba(33, 33, 33, 0.6);
}
.modal__con {
  overflow-y: auto;
}
.modal .main__tab {
  padding-left: 2rem;
  padding-right: 2rem;
}
.modal .btn_close {
  flex: 0 0 auto;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../img/i_xbox.svg") no-repeat;
  background-size: cover;
}
.modal .table__wrap {
  padding: 2rem;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 2rem 0 3rem;
  background-color: white;
  border-bottom: 1px solid rgba(33, 33, 33, 0.18);
  overflow: auto;
  transition: 0.2s padding;
}
.header > * {
  flex: 0 0 auto;
}
.header__btn {
  position: relative;
  padding: 0.2rem;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
}
.header__btn span {
  position: absolute;
  top: unset;
  left: 0.4rem;
  width: 2rem;
  height: 1.8px;
  background: #212121;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
}
.header__btn span:nth-child(1) {
  top: 0.6rem;
}
.header__btn span:nth-child(2), .header__btn span:nth-child(3) {
  top: 1.2rem;
}
.header__btn span:nth-child(4) {
  top: 1.8rem;
}
.header__btn.on span:nth-child(1) {
  top: 1.2rem;
  left: 50%;
  width: 0;
}
.header__btn.on span:nth-child(2) {
  transform: rotate(45deg);
}
.header__btn.on span:nth-child(3) {
  transform: rotate(-45deg);
}
.header__btn.on span:nth-child(4) {
  top: 1.2rem;
  left: 50%;
  width: 0;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.header__menu button {
  margin-left: 0.8rem;
  padding: 0.8rem;
  width: auto;
  border-radius: 0.4rem;
  color: rgba(33, 33, 33, 0.6);
}
.header__menu button:hover {
  color: #0164FF;
}
.header__menu button:hover {
  background-color: #fafafa;
}
.header__menu button:active {
  background-color: #f2f2f2;
}
.header .logo {
  width: 7.2rem;
}
@media (max-width: 767px) {
  .header {
    padding: 0 0.8rem 0 1.6rem;
    transition: 0.2s padding;
  }
}

.nav {
  z-index: 10;
  position: fixed;
  top: 6rem;
  left: 0;
  right: unset;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  width: 17.4rem;
  background: #212121;
  overflow: auto;
  transition: 0.2s left;
}
.nav button {
  padding: 1.2rem 0 1.2rem 2.6rem;
  border-left: 0.4rem solid transparent;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
}
.nav button.on {
  border-color: #0164FF;
  color: white;
  background: rgba(255, 255, 255, 0.16);
}
.nav button:hover {
  color: white;
}
@media (max-width: 767px) {
  .nav {
    left: -17.4rem;
    transition: 0.2s left;
  }
  .nav.on {
    left: 0;
  }
}

.footer {
  padding: 2rem;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.footer a i {
  margin-right: 0.4rem;
  width: 1.133333em;
  height: 1.133333em;
  background: url("../img/i_send_mail.png") no-repeat;
  background-size: contain;
}
.footer dl {
  display: flex;
  flex-wrap: wrap;
}
.footer dt {
  padding-right: 0.5em;
  color: rgba(255, 255, 255, 0.3);
}

.main {
  flex: 1;
  padding-left: 17.4rem;
  overflow: auto;
  transition: 0.2s padding-left;
}
.main__top, .bank_info__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;
  padding: 2rem;
  background: #F8F8F8;
}
.main__btm {
  padding: 2rem;
}
.main__btm .table__wrap {
  padding: 2rem 0;
}
.main__tab {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
  padding: 0.8rem 0;
  min-height: 7.2rem;
  background: white;
}
.main__tab .btn {
  width: auto;
  min-width: 9rem;
}
.main__tab .text_btn {
  flex: 0 0 auto;
  height: 4rem;
  border-radius: 0.4rem;
}
.main__tab .select, .main__tab .datepicker {
  flex: 1;
}
.main__tab .datepicker {
  flex: unset;
  width: auto;
  max-width: 100%;
}
.main__tab .input_wrap {
  display: flex;
  gap: 1.2rem;
  max-width: 100%;
}
.main__tab .input_wrap input {
  width: 16rem;
}
.main__tab .radio {
  color: #212121;
}
.main__tab .radio__wrap {
  flex: 1 0 auto;
}
@media (max-width: 767px) {
  .main__tab {
    gap: 1.2rem;
  }
  .main__tab .text_btn {
    height: 3rem;
  }
}
.main h2 small {
  color: rgba(33, 33, 33, 0.3);
}
@media (max-width: 767px) {
  .main {
    padding-left: 0;
    transition: 0.2s padding-left;
  }
}

.tutor_info__ttl {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.tutor_info__ttl small {
  color: rgba(33, 33, 33, 0.3);
}
.tutor_info dl {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 0.4rem;
  color: rgba(33, 33, 33, 0.6);
}
.tutor_info dl.phone {
  margin-top: 1.6rem;
}
.tutor_info dl.phone dt {
  background: url("../img/i_phone.svg") no-repeat;
}
.tutor_info dl.mail dt {
  background: url("../img/i_mail.svg") no-repeat;
}
.tutor_info dl dt {
  width: 1.066666em;
  height: 1.066666em;
  background-size: contain;
  opacity: 0.18;
}

.sum_info {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  background: white;
}
.sum_info.fixed {
  flex: 0 0 auto;
}
.sum_info.fixed .sum_info__box {
  min-width: 16rem;
}
.sum_info__box {
  flex: 1 0 auto;
  padding: 0.8rem;
  text-align: center;
}
.sum_info dt {
  margin-bottom: 1.2rem;
  color: rgba(33, 33, 33, 0.3);
}
.sum_info dd {
  line-height: 1;
}
.sum_info .on {
  color: #0164FF;
}

.bank_info {
  position: relative;
  padding: 1.6rem 2rem;
  width: 22.6rem;
  max-width: 100%;
  height: 13.4rem;
  background: linear-gradient(108.84deg, #5A5A5A 0%, #323232 100%);
  border: 1px solid rgba(33, 33, 33, 0.18);
  border-radius: 0.8rem;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(255, 255, 255, 0.6);
  color: white;
}
.bank_info__wrap {
  padding: 0;
  max-width: 100%;
}
.bank_info dl {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bank_info dl dt, .bank_info dl small {
  color: rgba(255, 255, 255, 0.6);
}
.bank_info dd {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bank_info dd small em {
  margin-left: 0.4rem;
  color: white;
}
.bank_info .usertype {
  position: absolute;
  top: 1.2rem;
  left: unset;
  right: 1.2rem;
}
.bank_info .usertype .tag {
  background-color: #212121;
}
.bank_info .usertype i {
  background-image: url("../img/i_info_w.svg");
}

/*b2b*/
.login {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 12rem 0;
}
.login .form_wrap {
  margin: 0;
}
.login .form_wrap h2 {
  margin-top: 0;
}
@media (max-width: 767px) {
  .login {
    flex-direction: column;
    padding: 4rem 0;
    align-items: center;
  }
}

.demo_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  width: 28rem;
  border-radius: 1.6rem;
  background-color: #F8F8F8;
  text-align: center;
}
.demo_intro__img {
  margin: 2rem auto;
  width: 18rem;
  padding-top: 55.555555%;
  background: url("../img/img_demo.png") no-repeat;
  background-size: contain;
}
.demo_intro .btn {
  margin: 2rem auto;
  width: 16rem;
  background-color: #F8F8F8;
  color: #0164FF;
}
.demo_intro .btn:hover:hover {
  background-color: #fdfdfd;
}
.demo_intro .btn:hover:active {
  background-color: white;
}

.invoice_info__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.invoice_info dl {
  display: flex;
}
.invoice_info dt {
  margin-right: 0.8rem;
  color: rgba(33, 33, 33, 0.3);
}
.invoice_info dd {
  color: rgba(33, 33, 33, 0.6);
}
.invoice_info dd .btn.bo {
  width: auto;
  background: #F8F8F8;
}
.invoice_info dd .btn.bo:hover {
  background-color: #f3f3f3;
}
.invoice_info dd .btn.bo:active {
  background-color: #ebebeb;
}

#company_account {
  padding: 0;
  min-height: unset;
  border: 0;
  background: transparent;
}

.info_time::before, .info_clip::before {
  content: "";
  display: inline-block;
  margin-right: 0.4rem;
  width: 1.6rem;
  height: 1.6rem;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.info_clip::before {
  background-image: url("../img/i_clip.svg");
}

.info_time::before {
  background-image: url("../img/i_timepie_filled.svg");
}

.accordion__class {
  margin-top: 2rem;
}
.accordion__class > * {
  margin-right: 1.6rem;
  vertical-align: middle;
}
.accordion__chapter {
  display: flex;
  gap: 1.6rem;
  padding: 2rem;
}
.accordion__chapter dl {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex: 1;
}
.accordion__chapter dl dt, .accordion__chapter dl dd {
  margin-bottom: 0 !important;
}
.accordion__chapter dl dt {
  flex: 0 0 auto;
}
.accordion__chapter dl dd {
  flex: 1;
}
.accordion__chapter button {
  flex: 0 0 auto;
  width: 2.4rem;
  border-radius: 0.4rem;
  text-align: center;
}
.accordion__chapter button:hover {
  background-color: #fafafa;
}
.accordion__chapter button:active {
  background-color: #f2f2f2;
}
.accordion__chapter button::before {
  content: "↓";
}
.accordion__clip {
  display: none;
  padding: 1.6rem 2rem;
}
.accordion_btn {
  display: flex;
  gap: 1.2rem;
}
.accordion_btn button:last-child {
  display: none;
}
.accordion ul {
  margin-top: 2rem;
  border: 1px solid rgba(33, 33, 33, 0.18);
}
.accordion ul li + li {
  border-top: 1px solid rgba(33, 33, 33, 0.18);
}
.accordion dl dt, .accordion dl dd {
  margin-bottom: 0.4rem;
}
.accordion dl dt {
  color: rgba(33, 33, 33, 0.3);
}
.accordion textarea {
  height: 7.2rem;
  color: rgba(33, 33, 33, 0.6);
}
.accordion .value_change {
  display: none;
}

.clip_box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  padding: 1.6rem 0;
}
.clip_box:first-child {
  padding-top: 0 !important;
}
.clip_box__con {
  flex: 1;
}
.clip_box__con .empty_data {
  display: none;
}
.clip_box__con .text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.clip_box__con button {
  width: auto;
  color: #0164FF;
  line-height: 2;
}
.clip_box__con button::before {
  content: "전체보기";
}
.clip_box__con.on .text {
  display: block;
}
.clip_box__con.on button::before {
  content: "접어두기";
}
.clip_box__video {
  flex: 0 0 auto;
  width: 31.2rem;
  max-width: 100%;
}
.clip_box .tag {
  display: inline-block;
  margin-left: 0.8rem;
  padding: 0 0.4rem;
  background-color: #212121;
  color: white;
  line-height: 1.666666;
}
.clip_box .keyword {
  display: inline-block;
  margin: 0.4rem 0;
  padding: 0 0.8rem;
  border: 1px solid rgba(33, 33, 33, 0.18);
  line-height: 2;
}
@media (max-width: 767px) {
  .clip_box {
    flex-direction: column;
  }
}

.on .accordion__chapter button::before {
  content: "↑";
  color: #0164FF;
}
.on .accordion__clip {
  display: block;
}

.revise_mode .accordion_btn button:first-child {
  font-size: 0;
}
.revise_mode .accordion_btn button:first-child::before {
  content: "취소";
}
.revise_mode .accordion_btn button:last-child {
  display: block;
}
.revise_mode .accordion .value, .revise_mode .accordion .keyword {
  display: none;
}
.revise_mode .accordion .value_change {
  display: block;
}
.revise_mode .accordion .inline {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.revise_mode .accordion .inline .fill {
  flex: 1;
}
.revise_mode .accordion .inline .hug {
  flex: 0 0 auto;
}
.revise_mode .accordion .inline dt {
  align-self: flex-start;
  line-height: 4rem;
}
.revise_mode .accordion dl dd {
  margin-bottom: 1.6rem;
}
.revise_mode .clip_box {
  padding-top: 3.6rem;
}
.revise_mode .clip_box + .clip_box {
  border-top: 1px solid rgba(33, 33, 33, 0.18);
}
.revise_mode .clip_box:last-child {
  padding-bottom: 0;
}
.revise_mode .clip_box .empty_data {
  display: block;
}
.revise_mode .clip_box .empty_data.inline {
  display: flex;
}
.revise_mode .clip_box .text {
  display: none;
}

.demo_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  width: 28rem;
  border-radius: 1.6rem;
  background-color: #F8F8F8;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}
.demo_intro__img {
  margin: 2rem auto;
  width: 18rem;
  padding-top: 55.555555%;
  background: url("../img/img_demo.png") no-repeat;
  background-size: contain;
}
.demo_intro .btn {
  margin: 2rem auto;
  width: 16rem;
  background-color: #F8F8F8;
  color: #0164FF;
}
.demo_intro .btn:hover:hover {
  background-color: #fdfdfd;
}
.demo_intro .btn:hover:active {
  background-color: white;
}

/*----------유튜브--------------------------------------------------------------------------------*/
.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
