$unit: 0.1rem;

//컬러
$color-primary-dark-30: #002267;
$color-primary: #0045D1;
$color-primary: #0164FF;
$color-primary-on-dark: #3383FF;
$color-promotion-dark-10: #00B8B8;
$color-promotion: #00D6D6;
$color-promotion-light-30: #59FFFF;
$color-error: #F02E19;
$dark: #212121; //블랙으로 사용
$dark-60: rgba(33, 33, 33, 0.6);
$dark-30: rgba(33, 33, 33, 0.3);
$dark-18: rgba(33, 33, 33, 0.18);
$dark-05: #F8F8F8; //가장 밝은 배경색
$light-60: rgba(255, 255, 255, 0.6);
$light-30: rgba(255, 255, 255, 0.3);
$light-16: rgba(255, 255, 255, 0.16);

//폰트
$thin: 100;
$light: 300;
$demiLight: 350;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;
%m12 {font-size: 12*$unit;font-weight: $medium;}
%m15 {font-size: 15*$unit;font-weight: $medium;}
%m17 {font-size: 17*$unit;font-weight: $medium;}
%b17 {font-size: 17*$unit;font-weight: $bold;}
%b24 {font-size: 24*$unit;font-weight: $bold;}